[Desktop Entry]
Name=HackerOS TV
Comment=A special session inspired by the one from steamos but worth watching.
Exec=cage -d /usr/bin/HackerOS-TV
Type=Application
DesktopNames=HackerOS-Sessions
